<!DOCTYPE html>
<html>
  <head>
    <title>The Markdown &mdash; {{%title%}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="markdown.css" />
  </head>
  <body>
    <header><h1><a href="/">The Markdown</a></h1></header>
    <nav><p>
      <a href="/j">Journalism</a> | 
      <a href="/sm/">Secure Messaging</a> |
      <a href="/ee/">Encrypted Email</a> |
      <a href="/pm/">Password Manager</a> |
      <a href="/key/">Yubikey</a> |
      <a href="/vpn/">VPN</a> |
      <a href="/scrape/">Scraping</a> |
      <a href="/dev/">Dev tools</a> |
      <a href="/sql/">SQL</a> |
      <a href="/markdown/">Markdown</a>
    </p></nav>
    <section>
    <article>


