body{
    margin:40px auto;
    font-family: sans-serif;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px; }

h1,h2,h3{
    line-height:1.2;
}

.h-entry a {text-decoration: none;}

h1 {
    text-align: center;
    background: black;
    margin: 0;
    padding: 14px;
    font-size: 18px;
}

h1 a {color: white; text-decoration: none;}

h1 a:hover {color: blue;}

nav p {text-align: center;}

footer {background: #666; padding: 2em;}

